[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tomlkit = "*"
jinja2 = "*"

[dev-packages]
black = "*"

[scripts]
format = "black --line-length 118 ."
build = "python -m builder --clobber sites.toml templates dist"
clean = "rm dist"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
