<!doctype html>
<html lang=en>
<title>/comfies/ webcircle</title>
<meta name=viewport content="width=device-width, initial-scale=1.0">
<meta name=description content="the /comfy/ webcircle, basically a bunch of frens all holding hand!">
<link rel="shortcut icon" href="https://comfi.es/src/img/comfies.ico">
<link rel=stylesheet href="https://comfi.es/src/comfies.css">
<section>
	<h1>the /comfy/ webcircle</h1>
	<p>basically a bunch of frens all holding hand!</p>
</section>
<section>
	<h1>frembs list</h1>
	<ol>
	{% for site in sites %}
		<li><a href="{{ site.url }}">{{ site.id }}</a>
	{% endfor %}
	</ol>
</section>
<section>
	<h1>how 2 join</h1>
	<p>instructions are available in the README.md on the github page linke below</p>
	<p><a href="https://github.com/comfies/circle">comfies/circle &RightArrow;</a></b>
</section>

