{% set title = "The /comfi.es/ webcircle" %}
{% set desc %}
A <a href="https://en.wikipedia.org/wiki/Webring" rel="external help noopener noreferrer nofollow">webring</a> of /comfi.es/ peeps and their projects!
{% endset %}
<!doctype html>
<html lang=en>
<title>{{ title }}</title>
<meta name=viewport content="width=device-width, initial-scale=1.0">
<meta name=description content="{{ desc | striptags }}">
<link rel="shortcut icon" href="https://comfi.es/src/img/comfies.ico">
<link rel=stylesheet href="https://comfi.es/src/comfies.css">
<section>
	<h1>{{ title }}</h1>
	<p>{{ desc | safe }}
</section>
<section>
	<h1>Sites</h1>
	<ol>
	{% for site in sites %}
		<li><a href="{{ site.url }}">{{ site.id }}</a>
	{% endfor %}
	</ol>
</section>
<section>
	<h1>How 2 join</h1>
	<p>instructions are available in the README.md in the <a href="https://github.com/comfies/circle" rel="external noopener noreferrer nofollow"><code>circle</code> repository</a>
</section>
